.footer {
  background-color: var(--primary);
  padding: 1rem 2rem;
}

.footer__title {
  font-size: 1.2rem;
  text-align: center;
}

.footer__list {
  display: flex;
  gap: 1rem;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__link:hover path,
.footer__link:focus path {
  opacity: 0.6;
}

.footer__icon {
  width: 2.5rem;
}

.footer__icon path {
  fill: var(--paragraph);
}
