.resume {
  background-color: var(--background);
  margin: 0 auto;
  padding: 1rem 2rem;
}

.resume__name {
  text-align: center;
  font-size: 1.8rem;
}

.resume__contacts {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.resume__contact-data {
  flex: 1;
  text-align: center;
}

.resume__subtitle {
  border-bottom: 2px solid var(--font);
  font-size: 1.4rem;
}

.resume__contact-data,
.resume__summary {
  color: var(--paragraph);
}

.resume__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.resume__bold-text {
  font-weight: bold;
}

.resume__activities-list {
  padding-left: 1em;
}

.resume__link {
  color: inherit;
}

.resume__date {
  font-size: 0.9rem;
}
