*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --font: #131313;
  --background: #fff;
  --primary: #d9d9d9;
  --secondary: #70a8fc;
  --warning: #f4a0a0;
  --accent: #f3d892;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: var(--font);
  background-color: var(--background);
}

#root {
  max-width: 1280px;
  margin: 0 auto;
}

.sr-only {
  position: absolute;
  left: -9999px;
}

.main {
  display: flex;
}
